*{
    margin: 0;
    padding: 0;
    font-family: "Roboto",sans-serif;
}

header{
    width: 100%;
    height: 82px;
    background-color: rgb(52, 58, 64);
    
}
header nav ul li img{
    height: 44px;
    margin-right: 25px;
    margin-left: 25px;
}
header nav ul{
    text-align: center;
    padding-top: 20px;
}
header nav ul li{
    display: inline;
    vertical-align: middle;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}
.back_ground{
    overflow: hidden;
    height: 100vh;
}
.back_ground img{
    object-fit: cover;
    width: 100%;
    height: 80vh;
}
.left_ads{
    width: 40%;
    transform: translate(51%,-391%);
    color: white;
}

.left_ads h1{
    font-size: 34px;
}
.left_ads h1 span{
    color: rgb(17, 170, 83);
}
.left_ads p{
    margin-top: 5px;
    font-size: 14px;
}
.left_ads p i{
    font-family: 'Font Awesome';
}
.login_form{
    width: 380px;
    background-color: #6dbd6d;
    border-radius: 5px;
    transform: translate(288%,-233%);
    color: white;
}
.form_contaainer{
    width: 86%;
    margin: 0 auto;
    height: 350px;
}
.form_contaainer h1{
    padding-top: 20px;
    font-size: 34px;
    font-weight: lighter;
}
.form_contaainer p{
    padding-bottom: 20px;
}
.form_contaainer form input{
    display: block;
    height: 30px;
    width: 98%;
    border-radius: 3px;
    padding-bottom: 2px;
    padding-top: 2px;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 5px;
    border: none;
}
.form_contaainer form input[type="button"]{
    border-radius: 3px;
    color: white;
    width: 100%;
    height: 40px;
    border-bottom: 3px solid #447b44;
    margin: 0 auto;
    background-color: #529252;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 13px;
}